{% extends 'base.html' %}
{% load humanize %}
{% load version_tags %}

{% block content %}
  <h1>Application version by host</h1>

  {% for cluster, myhosts in versions.items %}

  <h2>Cluster "{{ cluster }}"</h2>

  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Host</th>
        {% for application in apps %}
        <th>{{ application }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for host, myapps in myhosts.items %}
      <tr>
        <th>{{ host }}</th>
        {% for application in apps %}
  {% with myapps|get_item:application as data %}
        <td {% if data.outdated %} class="warning"{% endif %}>
          <span style="white-space: nowrap;" data-toggle="popover" data-placement="left" title="Last update on {{ data.updated }} ({{ data.updated | naturaltime}})">
            {% if data.outdated %}
            <i class="glyphicon glyphicon-warning-sign"></i>
            {% endif %}
            {{ data.name }}
          </span>
        </td>
  {% endwith %}
        {% endfor %}
      </tr>
      {% endfor %}
    <tbody>
  </table>
  {% endfor %}

{% endblock %}


{% block scripts %}
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
{% endblock %}
