{% extends 'base.html' %}

{% block breadcrumb %}
<li><a href="{% url 'clusters' %}">cluster</a></li>
{% endblock %}

{% block content %}
<h1>Cluster list</h1>
<dl class="dl-horizontal">
  {% for cluster in clusters %}
  <dt>
    <a href="{% url 'cluster' cluster.id %}">{{ cluster.name }}</a>
  </dt>
  <dd>
    {% for host in cluster.hosts %}
    {% include 'frag_host.html' with host=host only %}
    {% endfor %}
  </dd>
  {% endfor %}
  <dt>
    Not set
  </dt>
  <dd>
    {% for host in standalone %}
    {% include 'frag_host.html' with host=host only %}
    {% endfor %}
  </dd>
</dl>

{% endblock %}
