{% extends 'base.html' %}
{% load version_tags %}

{% block breadcrumb %}
<li><a href="{% url 'clusters' %}">cluster</a></li>
<li><a href="{% url 'cluster' cluster.id %}">{{ cluster.name }}</a></li>
{% endblock %}

{% block content %}
<h1>Cluster {{ cluster.name }}</h1>
<div class="well">
  {% include 'frag_attributes.html' with attributes=cluster.attributes %}
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Host</th>
    </tr>
  </thead>
  <tbody>
    {% for host in cluster.hosts %}
    <tr>
      <td>
        {% include 'frag_host.html' with host=host only %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
