{% extends 'base.html' %}

{% block breadcrumb %}
<li><a href="{% url 'deployments' %}">deployment</a></li>
<li><a href="{% url 'deployment' dep.id %}">{{ dep.name }}</a></li>
{% endblock %}

{% block content %}
<h1>Deployment {{ dep.name }}</h1>
<div class="well">
  <dl class="dl-horizontal">
    {% for name, value in dep.attributes %}
    <dt>{{ name }}</dt>
    <dd>{{ value|md|safe }}</dd>
    {% endfor %}
  </dl>
</div>

<h2>Installations</h2>
<div class="installations">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Host</th>
        <th>Application</th>
        <th>Version</th>
      </tr>
    </thead>
    <tbody>
      {% for service in dep.services %}
      <tr>
        <td>{% include 'frag_host.html' with id=service.host.id name=service.host.name only %}</td>
        <td>{% include 'frag_app.html' with id=service.application.id name=service.application.name only %}</td>
        <td>{% include 'frag_version.html' with id=service.version.id name=service.version.name only %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
