{% extends 'base.html' %}

{% block breadcrumb %}
<li><a href="{% url 'hosts' %}">host</a></li>
<li><a href="{% url 'host' host.id %}">{{ host.name }}</a></li>
{% endblock %}

{% block content %}
<h1>Host {{ host.name }}</h1>
<div class="well">
  <dl class="dl-horizontal">
    {% if host.cluster %}
    <dt>Cluster</dt>
    <dd><a href="{% url 'cluster' host.cluster.id %}">{{ host.cluster.name }}</a></dd>
    {% endif %}

    {% for name, value in host.cluster.attributes %}
    <dt>{{ name }}</dt>
    <dd>{{ value|md|safe }}</dd>
    {% endfor %}
    <hr/>

    {% include 'frag_attributes.html' with attributes=host.attributes %}
  </dl>
</div>
{% endblock %}
